@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Srisakdi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz@10..48&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz@10..48&family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1:'Sriracha', cursive;
    --font2: 'Srisakdi', cursive;
    --font3: 'Dancing Script', cursive;
    --font4: 'Bricolage Grotesque', sans-serif;
    --font5: 'Courgette', cursive;
    --font6: 'Passion One', cursive;
    


}

*{
    margin: 0px;
    padding: 0px;
   
}



header{
    background-image: linear-gradient(to bottom, rgba(0, 89, 255, 0.63), rgb(0, 37, 139));
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding: 3px;
    
}

header h1{
    font-family: var(--font6);
    padding-top: 50px;
    color: white;
    font-variant: small-caps;
    font-size: 4em;
    
    
}

header p{
    color: white;
    padding-bottom: 50px;
    
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;

}

section{
    font-family: var(--font1);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vh;
    line-height: 2.3em;
    padding-left: 30px;
    font-size: 3.5vw;
    font-weight: bold;
    min-width: 450px;
    max-width: 800px;
}

section p{
    padding-bottom: 10px;
    font-size: 0.85em;
   
}

section.imagen > p{
   background-color: rgba(0, 0, 0, 0.404);
display: inline-block;
padding: 5px;
text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.384);
}

section.imagen{
    
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    box-shadow: inset 1px 1px 6px black;
    width: 100vw;
   
}

section#flor2{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#flor{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
}
footer{
    background-image: linear-gradient(to bottom, rgb(55, 0, 255), rgb(0, 2, 139));
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: 800;

}
footer a{
    color: rgba(0, 204, 255, 0.842);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}